.uk-flex-space-between {
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.uk-flex-middle {
    -ms-flex-pack: justify;
    -webkit-align-items: center;
    align-items: center;
}

.uk-flex {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.filter .perpage {
    display: inline-block;
}

.ibox-content {
    padding: 20px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.filter .perpage,
.filter .action {
    display: flex;
    align-items: center;
}
.filter .action {
    flex-grow: 1;
}
.filter .input-group {
    max-width: 400px;
    display: flex;
}

.btn {
    margin-bottom: 0 !important;
    font-size: 13px;
    border-radius: 0;
    height: 32px;
}

.filter .form-control {
    height: 32px;
    max-width: 200px;
    font-size: 13px;
}

.mr10 {
    margin-right: 10px;
}
.mb10 {
    margin-bottom: 20px;
}

.ml10 {
    margin-left: 10px;
}

.ibox {
    box-shadow: 0 0px 1px rgba(0, 0, 0, 1);
}

.panel-title {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: 500;
    color: #000;
}

.panel-description {
    font-size: 15px;
}

.form-control {
    height: 42px;
}

.active-bg {
    background: #ffc !important;
}

#checkAll, .checkBoxItem {
    height: 15px;
    width: 15px;
}

.switchery-small {
    border-radius: 20px;
    height: 20px;
    width: 33px;
}

.switchery-small>small {
    height: 20px;
    width: 30px;
}

.select2-container--default {
    margin-right: 10px !important;
}

.meta-title{
    font-size:20px;
    color:#1a0dab;
}
.canonical{
    color:green;
    margin-bottom:8px;
}
.meta-description{
    font-size:14px;
}
.seo-wrapper{
    margin-top:30px;
}
.seo-wrapper textarea{
    height:200px !important;
}

.notice{
    font-size:13px;
    font-style: italic;
    display: block;
    margin-bottom:10px;

}
